{% extends "base.html" %}

{% block content %}

    <div class="title">
        <h2 class="title">List Of Objects</h2>
    </div>

    <div class="pure-g">

        {% for object in list_of_objects %}
            <div class="pure-u-1 item">
                <div class="pure-u-1 pure-u-md-2-5">
                    <a href="/inventory/view/{{ object.slug }}" class="no-link">
                        {{ object.name }}
                    </a>
                </div>
                <button class="pure-button pure-button-primary">
                    <a href="/inventory/delete/{{ object.slug }}" class="no-link-button">
                        Delete
                    </a>
                </button>
                <button class="pure-button pure-button-primary">
                    <a href="/inventory/update/{{ object.slug }}" class="no-link-button">
                        Update
                    </a>
                </button>
            </div>
        {% endfor %}

        <div class="item">
            <button class="pure-button pure-button-primary">
                <a href="/inventory/create/" class="no-link-button">
                    Create A New Entry
                </a>
            </button>
        </div>

        {% if request.user.is_authenticated %}
            <div class="item">
                <button class="pure-button pure-button-primary">
                    <a href="/user/logout" class="no-link-button">
                        Logout
                    </a>
                </button>
            </div>
        {% endif %}

    </div>

{% endblock %}

